/* Animations */

.wow {
     visibility: hidden;
}

.wow.animated {
     visibility: visible;
}

.animate__animated {
     animation-duration: 0.6s;
     animation-fill-mode: both;
}

.animate__fadeInUp {
     animation-duration: 0.5s;
}

.animate__fadeInDown {
     animation-duration: 0.4s;
}

.animate__fadeInLeft,
.animate__fadeInRight {
     animation-duration: 0.5s;
}

.animate__zoomIn {
     animation-duration: 0.4s;
}

@media (prefers-reduced-motion: reduce) {

     .wow,
     .animate__animated {
          animation: none !important;
          visibility: visible !important;
     }
}