/* Navbar Component */

.navbar {
     position: fixed;
     bottom: 0;
     left: 0;
     width: 100%;
     background: hsla(240, 1%, 17%, 0.75);
     backdrop-filter: blur(10px);
     border: 1px solid var(--jet);
     border-radius: var(--radius-md) var(--radius-md) 0 0;
     box-shadow: var(--shadow-2);
     z-index: 5;
}

.navbar-list {
     display: flex;
     flex-wrap: wrap;
     justify-content: center;
     align-items: center;
     padding: 0 10px;
}

.navbar-link {
     color: var(--light-gray);
     font-size: var(--fs-8);
     padding: 20px 7px;
     transition: color var(--transition-1);
     position: relative;
}

.navbar-link::before {
     content: "";
     position: absolute;
     bottom: 0;
     left: 50%;
     transform: translateX(-50%) scaleX(0);
     width: 100%;
     height: 2px;
     background: var(--text-gradient-yellow);
     transition: transform var(--transition-1);
}

.navbar-link:hover,
.navbar-link:focus {
     color: var(--light-gray-70);
}

.navbar-link.active {
     color: var(--orange-yellow-crayola);
}

.navbar-link.active::before {
     transform: translateX(-50%) scaleX(1);
}

/* Responsive */
@media (min-width: 580px) {
     .navbar {
          border-radius: var(--radius-xl) var(--radius-xl) 0 0;
     }

     .navbar-list {
          gap: 20px;
     }

     .navbar-link {
          --fs-8: 14px;
     }
}

@media (min-width: 768px) {
     .navbar-link {
          --fs-8: 15px;
     }
}

@media (min-width: 1024px) {
     .navbar {
          position: absolute;
          bottom: auto;
          top: 0;
          left: auto;
          right: 0;
          width: max-content;
          border-radius: 0 var(--radius-xl);
          padding: 0 20px;
          box-shadow: none;
     }

     .navbar-list {
          gap: 30px;
          padding: 0 20px;
     }

     .navbar-link {
          font-weight: var(--fw-500);
     }
}